.range {
  margin-bottom: 86px;
}
.range__scale {
  position: relative;
  height: 2px;
  width: 280px;
  background: lightgrey;

  @media (min-width: @tablet-width) {
    width: 223px;
  }
}

.range__scale-bar {
  position: absolute;
  height: 4px;
  width:260px;
  background: @primarylighter;

  @media (min-width: @tablet-width) {
    width: 192.14px;
  }

  @media (min-width: @desktop-width) {
    width: 290px;
  }
}

.range__scale-toogle {
  position: absolute;
  border: 2px solid @primarylighter;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.range__scale-toogle--min {
  top: -10px;
  left: 0;
}

.range__scale-toogle--max {
  top: -10px;
  right: 0;
}

.range__input {
  position: absolute;
  width: 125px;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  background: @white;
  text-align: center;
  border: 2px solid @primarylighter;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    width: 96px;
  }
}

.range__input--min {
  top: 30px;
  left: 0;
  color: @grey;
}

.range__input--max{
  top: 30px;
  right: 0;
}

.range__scale-inputs {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 50px;
    right: 135px;
    height: 2px;
    width: 10px;
    background: @grey;

    @media (min-width: @tablet-width) {
      right: 105px;
    }
  }
}
